[submodule "submodule/demucs"]
	path = submodule/demucs
	url = https://github.com/facebookresearch/demucs.git
[submodule "submodule/dapang"]
	path = submodule/dapang
	url = https://github.com/wanggithub132/dapang.git
